@model RegisterVM

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="contact_section layout_padding">
    <div class="contact_bg_box">
        <div class="img-box">
            <img src="~/images/contact-bg.jpg" alt="">
        </div>
    </div>
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Sign Up
            </h2>
        </div>
        <div class="">
            <div class="row">
                <div class="col-md-7 mx-auto">
                    <form method="post">
                        <div class="contact_form-container">
                            <div>
                                <div>
                                    <input asp-for="Name" type="text" placeholder="Full Name" autocomplete="on" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div>
                                    <input asp-for="Email" type="email" placeholder="Email" autocomplete="on" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div>
                                    <input asp-for="ContactNumber" type="text" placeholder="Phone Number" autocomplete="on" />
                                    <span asp-validation-for="ContactNumber" class="text-danger"></span>
                                </div>
                                <div>
                                    <input  asp-for="Address" type="text" placeholder="Address" autocomplete="on" />
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                                <div>
                                    <input asp-for="Qualification"  type="text" placeholder="Qualification" autocomplete="on" />
                                    <span asp-validation-for="Qualification" class="text-danger"></span>
                                </div>
                                <div>
                                    <input asp-for="Password" type="password" placeholder="Password" autocomplete="on" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div>
                                    <input asp-for="ConfirmPassword"  type="password" placeholder="Confirm Password" autocomplete="on" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>

                                <div class="btn-box ">
                                    <button type="submit">
                                        Register
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>